@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Manrope:wght@200;400&family=Raleway+Dots&family=Raleway:wght@200;300&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap');

html {
    font-family: 'Raleway', 'Lato';
}

* {
    margin: 0;
    padding: 0;
        font-family: 'Raleway', 'Lato';
}

main>section {
    margin-left: 5%;
    margin-right: 5%;
}

section.banner {
    display: flex;
    flex-direction: row;
    border: 3px solid red;
    height: 400px;
}

.banner-right>img {
    height: 97%;
}

.banner-right {
    width: 20%;
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    height: 100%;
}

.banner-title {
    white-space: nowrap;
    position: relative;
}

.banner-title::before {
    content: 'I am a Blockchain Developer';
    position: absolute;
    top: 0;
    left: 0;
    animation: typing-effect .5s ease-in-out infinite;
    -webkit-animation: typing-effect .5s ease-in-out infinite;
}

@keyframes typing-effect {
    0% {}
}



.container {
    display: inline-block;
}

.text {
    display: inline-block;
}

.typed-out > button > h2{
    overflow: hidden;
    /*border-right: .15em solid orange;
    */white-space: nowrap;
    position: relative;
    animation: typing 3s .5s steps(20,end) infinite;
    font-size: 1.6rem;
    width: 0;
    -webkit-animation: typing 1s .5s ease-in-out steps(20,end) infinite;
}


@keyframes typing {
    0% {
        width: 0;
        opacity: 0%;
    }

    50% {
        width: 100%;
    }  

    100% {
        width: 0%;
    }
}


.typed-out-two {
    overflow: hidden;
    /*border-right: .15em solid orange;
    */white-space: nowrap;
    position: relative;
    animation: typing-two 3s 3.5s steps(40,end) infinite;
    font-size: 1.6rem;
    width: 0;
    -webkit-animation: typing-two 3s 4.5s steps(40,end) infinite;
}


@keyframes typing-two {
    0% {
        width: 0;
        opacity: 0%;
    }

    50% {
        width: 100%
    }

    100% {
        width: 0%;
    }
}
